# Rust
/target
**/*.rs.bk

# IntelliJ
.idea
*.iml

# Production Data & config
/data
Rocket.toml

##
## Python
##
__pycache__

# setuptools
/dist
/src/*.egg-info

# setuptools_scm
/src/*/_version.py

# mypy
.mypy_cache

##
## Javascript
##

# npm/pnpm
/node_modules
/pnpm-lock.yaml
/pnpm-workspace.yaml

# typescript
/tsconfig.tsbuildinfo

# compiled code
/static/js
