# Rust
/target
**/*.rs.bk

# IntelliJ
.idea
*.iml

# Production Data & config
/data
Rocket.toml

##
## Python
##
__pycache__

# setuptools
/dist
/src/*.egg-info

# setuptools_scm
/src/*/_version.py

# mypy
.mypy_cache
